@{
    ViewData["Title"] = "Details";
    ViewData["Link"] = "https://github.com/akinizer/";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p><b>Author:</b> Akinizer</p>
    <p><b>Link:</b> <a href=@ViewData["Link"]>@ViewData["Link"]</a></p>
</div>