@{
    ViewData["Title"] = "Details";
    ViewData["Link"] = "https://github.com/akinizer/";
}
<h1>@ViewData["Title"]</h1>

<p><b>Author:</b> Akinizer</p>
<p><b>Link:</b> <a href=@ViewData["Link"]>@ViewData["Link"]</a></p>
