@{
    ViewData["Title"] = "Welcome To My Website";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>You can navigate more contents by viewing the other tab.</p>
</div>

<div>
    <img src="https://res.cloudinary.com/jerrick/image/upload/v1731692954/67378999161e1d001d34b482.jpg" class="img-fluid" alt="Responsive image" style="border-radius:15px">
</div>