@{
    ViewData["Title"] = "Welcome To My Website";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>You can navigate more contents by viewing the other tab.</p>
</div>
