@{
    ViewData["Title"] = "This Page is Reserved for the User";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div>
    <p>UserID</p>
    <p>Username</p>
    <p>Email</p>
    <p>Contact</p>
    <p>Language</p>
    <p>Social Media</p>
</div>