@{
    ViewData["Title"] = "Settings";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div>
    <p>You Can Change User Settings Here</p>
    <p>Change Username</p>
    <p>Change Password</p>
    <p>Change Email</p>
    <p>Change Language</p>
</div>